{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>So Here We Are!</h2>
<div class="text-area">
<p>Where exactly is here? Not together on the streets or on the beach or in the Starbucks or in the yogurt dessert shop, enjoying a carefully crafted yogurt sundae. 
Not a physical place outside of our homes or few at a workplace. </p>
<p>I’m talking about a new collective, not the Borg, but hey, maybe similar.  Daily, we as a collective exist in this new manner. Think more as an ambiguous “here” a here that’s everywhere and anywhere.
The ginormous blank slate that receives input from millions and millions of people every miniscule second to draw on that void.</p>
<p>Most Edmontonians join in mind and spirit/soul/energy; whatever you call it. Yet, here we are in this predicament. Without direct contact. 
Without social “in-person” communications. Without physical proximity to each other as we used to, walking down the sidewalk, enjoying our fellow citizens and just being in a happy place. 
Without direct interactions to witness a smile, a hand gesture, or that yearned  for pleasant sound of the human voice in real time. Even an unpleasant voice would be welcomed at this point. 
We now lack an open and instant greeting of a handshake or hug. 
We Edmontonians easily offer abundant kindness, genuine compassion, open empathy, and community togetherness – essentially, a big family with tremendous love and pride for Edmonds.
We share the beauty and love of Edmonds.  </p>
<p>I venture to say being on Facetime or Skype presents a false reality because it’s truly a virtual reality. 
Of course, the person to person, family to family communications feel real enough -- but is it reality – real time? It lacks a physical existence as one relates to another.
How different does it feel than watching a really good movie with top of the line CGI? Or a newscast? Or a YouTube video that was filmed a year ago? Does it behave differently? 
Does this YouTube video or real-time Skype session consistently present the same as being in person? 
As compared, do not they both have slowdowns, jitters, stop and play, broken words with the dreaded stammering metallic scratch?</p>
<p>What about when the face of your loved one freezes mid-sentence with a hand over head gesture? Your loved one is frozen in time, paused. 
We wait for them to move and then return to us in the “now” of false reality. What happened when they were frozen in the space time continuum?
Did that smile turn to a frown? Did a fly buzz their nose, something that’s part of reality but never seen by the receiver. </p>
<p>So here we are, evolving? Coming closure to an age of real-time virtual realities. What we are living right now.</p>
<p>How will this change us? </p>
<p>How can Edmontonias connect. Until we are able to stroll our beach once again, or fish at the end of the dock, or sit on a city bench, 
or have a picnic at the community park, or share in a coffee at the Starbucks, our lives will continue to exists in this real-time virtual reality.</p>
<p>How can we take advantage of this new space “here we are” community of living?</p>
<p>Streaming services and business are evolving as well. 
Netflix has a Netflix Party choice that’s through their website online. As a party of people with Netflix accounts, 
everyone logs into Netflix Party and select the same tv show or movie to watch together at the same time. 
You can make comments to each other as you watch and afterwards. </p>
</div>
<div class="container">
<img src="{{ url_for('static', filename='/media/Valerie.jpg') }}" class="img-circle" alt="image">
<strong>Valerie Burgess</strong>
</div>
{% endblock %}
