{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<div class="article-content">
    <h1>ProBeat: WFH tips I’ve learned after working from home for 12 years</h1>
    <i>Article by: EMIL PROTALINSKI@EPRO MARCH 13, 2020 10:30 AM</i>
<p>I’ve been working from home my whole career. Online journalism happens to be well suited for remote work, but not every job is. With the current <a href="https://venturebeat.com/2020/02/27/panic-not-the-covid-19-coronavirus-itself-may-wreck-tech-in-2020/">COVID-19 coronavirus</a>, more and more companies are telling their employees to work from home. As the outbreak has grown, some employees chose to WFH, then individual team leaders encouraged their teams to avoid the office. And suddenly, WFH has become mandatory policy for entire companies. Whether your job is ideal for working from home or not, this is your reality for the foreseeable future. And that’s why I figure now is the time to share what I’ve learned over the years.</p>
<p>As I’ve argued before, <a href="https://venturebeat.com/2019/05/03/probeat-the-future-of-work-is-remote/">the future of work is remote</a>. While I’m publishing this list now, I hope it will be useful long after the COVID-19 pandemic is over — for employees as well as team leaders. I’ve broken the tips up into those two sections, but regardless of whether you report to someone or someone reports to you, I would encourage you to read them all.</p>

<h2>10 work from home tips for you</h2>
<p>Without further ado, here are my work from home tips:</p>
<ol><li>Don’t work from your bed. At the very least use a table (if a desk is not available) and a chair.</li>
<li>Don’t wear the same thing as you do to bed. What you wear doesn’t matter (yay), but make sure you change.</li>
<li>Set work hours for yourself. Make sure the line between work time and you time is as distinct as possible.</li>
<li>Drink water throughout the day. Don’t forget to eat.</li>
<li>Overcommunicate with your team. It’s easy to forget that you’re all experiencing work differently because you’re not in the same physical space.</li>
<li>Before you join a video call, check yourself and your surroundings. If it’s not required, disable video.</li>
<li>Get up. Leave your computer, stretch, and walk around.</li>
<li>Take advantage of your space. Cook for yourself, work out, run an errand — do whatever you couldn’t normally do in a physical office.</li>
<li>Go out in the evening. Especially if you work from home for multiple days, make sure you have activities that take you away from your computer and out of the house.</li>
<li>Ask when you need help. You can’t count on someone noticing that you’re struggling with something or hearing audible sighs.</li>
</ol><p>You don’t need to apply all these tips at once, and some may not work for you at all. Whether you’re transitioning to WFH now or have done so for a long time, the most important is to figure out what works for you. And as you do so, make sure you’re communicating what works and what doesn’t with your manager and teammates.</p>
<h2>9 work from home tips for the team leader</h2>
<p>Speaking of which, if you are leading a remote team, here are a few more tips:</p>
<ol><li>Discuss hours, goals, or targets for your team members. Make clear what you expect them to get done and then let them do it.</li>
<li>Don’t ask where your teammates are. Let them volunteer the information.</li>
<li>Offer your time and make sure your team members know you’re available. You can’t just drop by their desk, but you can always check in via chat, email, video chat, or whichever tool your company prefers.</li>
<li>Ask which tools are working and which aren’t. Be open to changing the tools and pushing management to make adjustments.</li>
<li>Have regular meetings at set times. Offer to adjust those times to accommodate various schedules and time zones.</li>
<li>Figure out how to make remote work more fun for your team. Share links that you come across online so that just like in a physical office, the day’s discussion isn’t strictly work related.</li>
<li>Encourage everyone to take breaks. Lead by example.</li>
<li>Make sure your tone isn’t being misinterpreted or misread. Add exclamation marks, emojis, and whatever else is necessary to accurately reflect how you would have said it in person.</li>
<li>Tell your team members when you’re going mobile and when you’re signing off. Remind them when and how to reach out if they need you.</li>
</ol><p>Some of these may also work even if you aren’t leading a team — to apply yourself or as a reminder of what your boss might be struggling with. Did I miss something? I’m sure I did. <a href="https://venturebeat.com/author/emil-protalinski/">Let me know your tip</a>.</p>
<p><em><a href="https://venturebeat.com/tag/probeat/">ProBeat</a> is a column in which Emil rants about whatever crosses him that week.</em></p>
</div>
</div>
				
{% endblock %}