{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div id="dnn_ctr33923_HtmlModule_lblContent" class="bs-row row ember-view">
<div id="dnn_ctr33923_HtmlModule_lblContent"><p><a href="/Portals/1/Documents/1600/NovelCoronavirusFactSheet.pdf">English: Novel Coronavirus Fact Sheet (PDF)</a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-AM.ashx" rel="external">Amharic: COVID-19 የህዝብ ጤና ምክረ ሀሳቦች (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-AR.ashx" rel="external">Arabic: COVID-توصيات الصحة العامة الخاصة ب 19 (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-CH-Simplified.ashx" rel="external">Chinese Simplified: 新型冠状病毒 (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-CH.ashx" rel="external">Chinese Traditional: 新型冠狀病毒 (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-HI.ashx" rel="external">Hindi: COVID-19 Public Health हिदायते (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-JP.ashx" rel="external">Japanese: COVID-19（新型コロナウィルス）に関する公衆衛生上の推奨事項 (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="/Portals/1/Documents/1600/coronavirus/NovelCoronavirusFactSheet-Khmer.pdf">Khmer: វីរុសកូរ៉ូណាប្រភេទថ្មី (PDF)</a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-KO.ashx" rel="external">Korean: 신종 코로나바이러스 (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-RU.ashx" rel="external">Russian: Новый штамм коронавируса (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-SO.ashx" rel="external">Somali: Caabuqa Xalfaafka Wadnaha (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-SP.ashx" rel="external">Spanish: Nuevo coronavirus (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-TG.ashx" rel="external">Tagalog: Mga Rekomendasyon ng Pampublikong Kalusugan sa COVID-19 (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<p><a href="/Portals/1/Documents/1600/coronavirus/NovelCoronavirusFactSheet-Thai.pdf">Thai: ไวรัสโคโรนาสายพันธุ์ใหม (PDF)</a></p>

<p><a href="https://www.kingcounty.gov/depts/health/communicable-diseases/disease-control/novel-coronavirus/protection/~/media/depts/health/communicable-diseases/documents/covid-19-recommendations-VI.ashx" rel="external">Vietnamese: Vi-rút Corona Mới (PDF)<i class="fa fa-external-link" title="External Content"></i></a></p>

<hr>
<h3>What is novel coronavirus?</h3>

<p>Novel coronavirus (COVID-19) is a new virus strain spreading from person-to-person in China and other countries, including the United States. In most instances, cases outside of China have been associated with travelers from China. Health experts are concerned because little is known about this new virus and it has the potential to cause severe illness and pneumonia in some people.</p>

<h3>How does novel coronavirus spread?</h3>

<p>Health experts are still learning the details.&nbsp; Currently, it is thought to spread:</p>

<ul class="linklist">
 <li>via respiratory droplets produced when an infected person coughs or sneezes.</li>
 <li>between people who are in close contact with one another (within about 6 feet).</li>
</ul>

<h3>How severe is novel coronavirus?</h3>

<p>Experts are still learning about the range of illness from novel coronavirus. Reported cases have ranged from mild illness (similar to a common cold) to severe pneumonia that requires hospitalization. So far, deaths have been reported mainly in older adults who had other health conditions.</p>

<h3>What are the symptoms?</h3>

<p>People who have been diagnosed with novel coronavirus have reported symptoms that may appear in as few as 2 days or as long as 14 days after exposure to the virus.</p>

<p>Symptoms include: fever, cough, and difficulty breathing.</p>

<h3>Who is at risk for novel coronavirus?</h3>

<p>Currently the risk to the general public is low. At this time, there are a small number of individual cases in the U.S. To minimize the risk of spread, health officials are working with healthcare providers to promptly identify and evaluate any suspected cases.</p>

<p>Travelers to and from certain areas of the world may be at increased risk. Although coronavirus originated geographically in Wuhan, China, the disease is not specific to any ethnic group. <strong>Chinese ancestry – or any other ancestry – does not make a person more vulnerable to this illness</strong>.&nbsp;</p>

<h3>How can I prevent from getting novel coronavirus?</h3>

<p>If you are traveling overseas (to China but also to other places) follow the CDC’s guidance: <a href="https://wwwnc.cdc.gov/travel" rel="external">wwwnc.cdc.govtravel<i class="fa fa-external-link" title="External Content"></i></a>.</p>

<p>Right now, the novel coronavirus has not been spreading widely in the United States, so there are no additional precautions recommended for the general public. Steps you can take to prevent spread of flu and the common cold will also help prevent coronavirus:</p>

<ul class="linklist">
 <li>Wash hands often with soap and water. If not available, use hand sanitizer.</li>
 <li>Avoid touching your eyes, nose, or mouth with unwashed hands.</li>
 <li>Avoid contact with people who are sick.</li>
 <li>Stay home while you are sick and avoid close contact with others.</li>
 <li>Cover your mouth/nose with a tissue or sleeve when coughing or sneezing.</li>
</ul>

<p>Currently, there are no vaccines available to prevent novel coronavirus infections.</p>

<h3>How is novel coronavirus treated?</h3>

<p>There are no medications specifically approved for coronavirus. Most people with mild coronavirus illness will recover on their own by drinking plenty of fluids, resting, and taking pain and fever medications. However, some cases develop pneumonia and require medical care or hospitalization.</p>

<p>&nbsp;</p>
</div>
{% endblock %}
