{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div id="ctl00_ContentPlaceHolder1_ctl12_divContent"><p style="text-align: center;"><span style="font-family: Arial;;font-size: 18px;">This poem is from one of Ms Felix' students written during our first week of isolation.<br>
Hilton Head Island High School&nbsp;</span></p>
<p align="center" style="text-align:center"><span style="font-family: Arial;;font-size: 18px;"><span style="text-decoration: underline;;color: black;">The
Virus&nbsp;<br>
</span><span style="color: black;">by Katy Lyons<br>
</span>&nbsp;</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Here I
sit</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">In
complete isolation.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">All of
us separated by the invisible.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">I
would reach out to you,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">But a
simple elbow touch wouldn’t do.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Lysol
spray has become perfume,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Hand
sanitizer has become hand lotion,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">The
news has become the bible.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">A
simple virus,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Whose
name resembles royalty,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Has
done the unthinkable.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Destroyed
businesses,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">And
has ruined relationships.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">The
death toll rises,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">And
hope decreases.&nbsp;&nbsp;</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">What
to do?</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Everyone
scrambles to find a solution.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Maybe
it is found in the empty grocery shelves,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Or
maybe in the fear of going outside.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Online
assignments plague the uninfected.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">But I
believe,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">We
will all get through this together.</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">We
will all get through this,</span></p>
<p align="center" style="text-align:center"><span style="color: black; font-family: Arial;;font-size: 18px;">Just
not with each other.</span></p>
<p>&nbsp;</p>
<p style="text-align: center;">&nbsp;</p></div>
{% endblock %}
