{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container  ">
    <div id="ember61" class="bs-row row ember-view"> 
    <div id="ember63" class="col-sm-12 ember-view">
    <div id="ember64" class="iframe-card ember-view">  
    <div id="ember65" class="hub-iframe ember-view">  
    <iframe scrolling="no" frameborder="0" style="width: 1000px; height: 800px" title="" src="https://snoco-gis.maps.arcgis.com/apps/opsdashboard/index.html#/72574a34259d425087088239b2cc615d"></iframe>
</div>
</div>
</div>
</div>
{% endblock %}